
@import url('https://fonts.googleapis.com/css2?family=Blaka&family=Caveat&family=Gemunu+Libre:wght@300&family=IBM+Plex+Mono:wght@300&family=Indie+Flower&family=PT+Sans:ital@1&family=Quicksand:wght@300&family=Shadows+Into+Light&family=Silkscreen&family=Square+Peg&family=Teko:wght@300&family=Yanone+Kaffeesatz:wght@300&display=swap');
*{
  list-style: none; 
  text-decoration: none;
  margin: 0;
  padding: 0;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  display: flex;
  color: greenyellow;
  font-family: 'Silkscreen', cursive;
  font-size: xx-large;
  
}

h2 {
  display: flex;
  align-items: center;
  color: greenyellow;
  font-family: 'Silkscreen', cursive;
  font-size:large;
  margin-left: 35%;
  margin-top: -10px;  
}

.padre-transform{
  height: 100vh;
  min-height:600px;
  
}

.padre-transform > div{
  position: absolute;
  top:13%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 50%;
  text-align: center;
}

img{
  cursor: pointer;
  filter: drop-shadow(0 0 0.80rem rgb(81, 255, 0));
}

img:hover {
  cursor: pointer;
  transform:scale(2);
  filter: drop-shadow(0 0 0.80rem rgb(142, 1, 163));
}

img:focus {
  outline: none;
}


button{
  cursor: pointer;
  margin-left: 0%;
}

#boton-carrito {
  border: none;
  color: black;
  font-size: 5px;
  border-radius: 10%;
  padding: 5px 10px;
  transition: all .3s;
}

#boton-carrito:hover {
  cursor: pointer;
  color: rgb(101, 101, 101);
  background-color: rgb(201, 10, 249);
}
#boton-carrito:focus {
  outline: none;
}

#tituo{
  cursor:pointer;
}

#titulo:hover {
  cursor: pointer;
  color: rgb(202, 0, 228);
  transform: scale(1);
  transition: all .3s;
}

#titulo:focus {
  outline: none;
} 


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  box-shadow: 0px 5px 4px 3px rgba(124, 124, 124, 0.3);
  margin-bottom: 20px;
}

.botones-add-remove-cached{
  
  justify-content: space-between;
  align-items: flex-start;
  margin-inline: 3px; 
  
}

.contador{
  display: flex;
  align-items: center;
  font-size: larger;
  margin-left: 55px;
  margin-top: 50px;
}

.categorias{
  display: flex;
  margin-top: 5px;
 
}

nav{
  display: flex;
  background-color: black;

}

ul{
  display: flex; 
}

li{
  display: flex;
  margin-left: 15px;
  align-items: center;
  
}

a{
  display: block;
  color: rgb(202, 0, 228);
  font-family: 'IBM Plex Mono', monospace;
  text-align: center;
  letter-spacing: 2px;
  
}


.icon{
  display: inline-block;
  width: 25px;

}

ul li a:hover,
ul li a.active{
  background-color: rgb(58, 57, 57);
  border-radius: 5px;
}






